.widget {
    flex: 0.3;
}

.widgetInput {
    display: flex;
    align-items: center;
    background-color: var(--twitter-background);
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
}

.widgetInput > input {
    border: none;
    background-color: var(--twitter-background);
}

.widgetSearchIcon{
    color: grey;
}

.widgetSingleContainer {
    padding: 20px;
    margin: 15px 0px 0px 20px;
    border-radius: 20px;
    background-color: #f5f8fa;
}

.widgetSingleContainer > h2 {
    font-size: 18px;
    font-weight: 800;
}